
{%  extends  'base.html.twig'  %}

{% block title %} Hello DummyController! {% endblock %}

{% block body %}

{{ text }}</br>
{% for year in years %}
<ul>
<li>{{year}}</li>
{% endfor %}
</ul>
{% endblock %}